[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/ksawatzky777/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/ksawatzky777/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ksawatzky777/imgui.git
[submodule "vendor/imguibrowser"]
	path = vendor/imguibrowser
	url = https://github.com/ksawatzky777/ImGui-Addons.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
