*.pyc
*.csv
*.txt
*.obj
*.png
*.mtl
*.jpg

# Ignore the ignore of important model files.
!bunny.obj
!sphere.obj
!teapot.obj
!ground_plane.obj
!cube.obj

# Ignore the ignore of the skybox jpgs.
!right.jpg
!left.jpg
!top.jpg
!bottom.jpg
!front.jpg
!back.jpg

# Object files
*.d
*.o
*.a
*.gch

# Executables
*.exe
*.out
*.app
Application

# Remove annoying directories
/.idea/*
/.models/*

# Allow the inputs directory for now.
!**/inputs/*.txt
