[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/ksawatzky777/glfw.git
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/ksawatzky777/glm.git
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = https://github.com/ksawatzky777/imgui.git
[submodule "engine/vendor/imguibrowser"]
	path = engine/vendor/imguibrowser
	url = https://github.com/ksawatzky777/ImGui-Addons.git
[submodule "engine/vendor/stb"]
	path = engine/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/vendor/imguizmo"]
	path = engine/vendor/imguizmo
	url = https://github.com/ksawatzky777/ImGuizmo.git
[submodule "engine/vendor/yamlcpp"]
	path = engine/vendor/yamlcpp
	url = https://github.com/ksawatzky777/yaml-cpp.git
[submodule "engine/vendor/assimp"]
	path = engine/vendor/assimp
	url = https://github.com/ksawatzky777/assimp.git
[submodule "engine/vendor/joltphysics"]
	path = engine/vendor/joltphysics
	url = https://github.com/nuclearkevin/JoltPhysics.git
