# Assets and others.
*.cap
*.pyc
*.csv
*.obj
*.png
*.mtl
*.jpg
*.jpeg
*.tga
*.hdr
*.fbx
*.FBX
*.tbscene
*.glb
*.gltf
*.psd
*.psk
*.dae
*.smd
*.zip
*.srn
*.sfab
*.smtl

# Ignore the ignore of important model files and hdr environments.
!cube.obj
!pink_sunrise_4k.hdr

# Object files
*.d
*.o
*.a
*.gch

# Executables
*.exe
*.out
*.app
*.bin
Application

# Remove annoying IDE directories
/.idea/*
/build/*

# Allow some directories (fonts, icons, etc.).
!**/media/*
!**/assets/.internal/*
!**/assets/.icons/*
!**/assets/.fonts/*
