*.pyc
*.csv
*.txt
*.obj

# Object files
*.d
*.o
*.a
*.gch

# Executables
*.exe
*.out
*.app
Application

# Remove annoying IDE directories
/.idea/*

# Allow the inputs directory for now.
!**/inputs/*.txt
